main  {
  .fullScreenMode {
    position: fixed;
    background-color: #222;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000000000;
    display: flex;
    justify-content: center;
    align-items: center;
    button  {
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      background-color: transparent;
      font-weight: 800;
      font-size: 1.5rem;
      border: none;
      height: 2rem;
      width: 2rem;
      z-index: 100000000;
      &:hover {
        color: lighten($header-color, 20%);
      }
    }
    .up   {
      transform: scale(1);
    }
    figure  {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      transform: scale(0);
      transition: all .2s ease-in-out;
      position: relative;
      justify-content: center;
      align-items: center;
      .prevnext  {
        position: absolute;
        background-color: transparent;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        top: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity .2s ease-in-out;
        @include laptops  {
          opacity: 0;
          background-color: rgba(#fff, .2);
          &:hover {
            opacity: 1;
          }
        }
        span  {
          color: transparent;
          @include laptops  {
            background-color: black;
            height: 20px;
            width: 20px;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border-radius: 50%;
            border: 2px solid white;
          }

        }
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      figcaption  {
        h3  {
          margin-top: 10px;
        }
        h3,
        p,
        a   {
          text-align: center;
          color: #ddd;
        }
        @include landscapePhone {
          display: none;
        }
        @include mq-not-mobile  {
          display: block;
        }
      }
    }
  }
}