.gallery  {
  width: 100%;

  h2  {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    font-family: $headers-font;
    text-align: center;
    font-size: 2rem;
    color: darken($header-color, 10%);
    @include mq-not-mobile  {
      padding-top: 130px;
      font-size: 3rem;
    }
  }

  @include mq-not-mobile  {
    min-height: calc(100vh - 76px);
  }
  @include laptops  {
    min-height: calc(100vh - 42px);
  }
  .photos {
    padding: 0 0 10px 0;
    width: 80%;
    margin: 0 auto;
    @include landscapePhone {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include mq-not-mobile  {
      width: 75%;
      padding-top: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .figuryUp  {
      transform: scale(1);
    }

    figure  {
      position: relative;
      margin: 20px 10px;
      overflow: hidden;
      padding: 5px;
      box-shadow: 0 0 3px 3px darken(white, 20%);
      background-color: darken(white, 5%);
      @include landscapePhone {
        width: 40%;
      }
      @include mq-not-mobile  {
        width: 28%;
        padding: 5px;
        background-color: darken(white, 5%);
        box-shadow: 0 0 4px 4px darken(white, 20%);
      }
      @include laptops  {
        transform: scale(0);
        transition: all .5s cubic-bezier(.17,.67,.83,.67);
        width: 14%;
        &:hover figcaption  {
          opacity: .8;
        }
        &:hover img   {
          transform: scale(1.4);
        }
      }

      img {
        width: 100%;
        height: 100%;
        transition: all .2s ease-in-out;
        @include mq-not-mobile  {
          transform: scale(1.3);
        }
        @include laptops  {
          transform: scale(1);
        }
      }
      figcaption  {
        padding: 10px 5px;
        display: flex;
        position: absolute;
        color: white;
        background-color: rgba(lighten($header-color, 10%),.9);
        z-index: 50;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-family: $headers-font;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;
        opacity: 1;
        @include laptops  {
          background-color: rgba(lighten($header-color, 10%),1);
          height: 36px;
          opacity: 0;
        }
      }
    }
  }
}

.gallery  {
  .categorySection  {
    .listOfCategories {
      display: flex;
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1rem;
      font-family: $text-font;
      @include mq-not-mobile  {
        width: 75%;
      }
      .categories {
        padding: 2px 5px;
        margin: 4px 4px;
        text-align: center;
        //background-color: lighten($header-color, 20%);
        color: $header-color;
        cursor: pointer;
        //box-shadow: 1px 1px 2px 2px $header-color;
        transition: all .5s ease-in-out;

        &:hover {
          background-color: darken($header-color, 10%);
          color: #fff;
        }

      }
    }
  }
}

.gallery .categorySection .listOfCategories li.markedCategory  {
  background-color: darken($header-color, 10%);
  color: #fff;
}

.gallery .photos figure.hidden {
  display: none;
}