.bannerPhoto  {
  height: 100vh;
  background-image: url("../images/geosilesia.jpg");
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  @include mq-not-mobile  {
    background-position: center;
  }
}