.mainNav  {
  display: none;
  &>li  {
    a,
    span  {
      cursor: pointer;
      display: block;
      text-decoration: none;
      font-family: $text-font;
      color: inherit;
    }
    li a  {
      padding-left: 1rem;
      font-size: .9rem;
    }
    &>a,
    span {
      padding: .2rem 0;
      padding-left: .5rem;
      font-size: 1.2rem;
    }
  }
  .geoslaskNav  {
    display: none;
  }
}

