.news {
  article   {
    padding: 10px 10px 10px 10px;
    background-color: #ddd;
    margin: 10px;
    transition: all .5s ease-in-out;
    font-family: $text-font;
    color: #666;
    &:first-of-type .body {
      display: block;
    }
    &.border  {
      background-color: lighten($header-color, 30%);
      color: white;
      .head h3  {
        color: white;
      }
      p   {
        color: white;
      }
    }
    .head {
      h3  {
        color: darken($text-color, 10%);
        font-size: 1.2rem;
        transition: all .5s ease-in-out;
      }
      p  {
        font-size: 1rem;
        line-height: normal;
        margin: 0;
        padding: 0;
        transition: all .5s ease-in-out;
      }
    }
    .body {
      display: none;
      padding: 10px 10px;
      a   {
        color: inherit;
        padding: 0 10px;
      }
      p   {
        transition: all .5s ease-in-out;
      }
    }
  }
}
