.news {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 10px;
  @include mq-not-mobile  {
    width: 70%;
    padding-top: 130px;
  }
  @include laptops  {
    width: 60%;
  }
  h2  {
    width: 100%;
    margin: 0 auto;
    font-family: $headers-font;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: darken($header-color, 10%);
    @include mq-not-mobile  {
      font-size: 3rem;
    }
  }
  article   {
    padding: 10px 10px 10px 10px;
    background-color: #ddd;
    margin: 10px;
    transition: all .5s ease-in-out;
    font-family: $text-font;
    color: #666;
    .head {
      h3  {
        color: darken($text-color, 10%);
        font-size: 1.2rem;
      }
    }
    .body {
      display: none;
      padding: 10px 10px;
      a   {
        color: inherit;
      }
      p   {
        margin: 10px 0;
        line-height: 24px;
        font-size: .9rem;
        @include laptops  {
          font-size: 1rem;
        }
      }
    }
  }
}
.news article.border {
  background-color: lighten($header-color, 30%);
  color: white;

}