header  {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $header-color;
  color: white;
  box-shadow: 0 3px 5px 1px darken($header-color, 20%);
  z-index: 1000;

  @include laptops  {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  h1  {
    text-align: center;
    font-family: $headers-font;
    font-size: 3rem;
    margin: .5rem;
    @include laptops  {
      font-size: 5rem;
    }

  }
}
