.news {
  article   {
    padding: .625rem;
    background-color: #ddd;
    margin: .625rem;
    transition: all .5s ease-in-out;
    font-family: $text-font;
    color: #666;
    &:first-of-type .body {
      display: block;
    }
    &.border  {
      background-color: darken($color3, 15%);
      color: white;
      h3,
      p   {
        color: white;
      }
    }
    p   {
      transition: all .5s ease-in-out;
    }
    a   {
      color: inherit;
      padding: 0 .625rem;
    }
    h3  {
      color: darken($text-color, 10%);
      font-size: 1.2rem;
      transition: all .5s ease-in-out;
    }
    .head {
      p  {
        font-size: 1rem;
        line-height: normal;
        margin: 0;
        padding: 0;
      }
    }
    .body {
      display: none;
      padding: .625rem;
    }
  }
}
